{
 ;; <<<< DEFINITIONS FOR TEST >>>>
 :__test1__ {:command "^ %foo% body %bar% $"}
 :__test2__ {:command :__test1__}
 :__test3__ {:command [:__test1__ :__test2__]}

 :__once-test__ {:command "foobar" :once? true}
 ;; <<<< /DEFINITIONS FOR TEST >>>>

 :chmod {:command "chmod -R %mode% %path%" :requires #{:mode :path}}
 :chown {:command "chown -R %owner% %path%" :requires #{:owner :path}}
 :chgrp {:command "chgrp -R %group% %path%" :requires #{:group :path}}
 :file-create {:command ["touch %path%" :chmod :chown :chgrp]}
 :file-delete {:command "rm -f %path%"}
 :file {:command :file-create}

 :directory-delete {:command "rm -rf %path%"}
 :directory-create {:command ["mkdir -p %path%" :chmod :chown :chgrp]}
 :directory {:command :directory-create}

 :template {:command [:chmod :chown :chgrp]
            :requires #{:source}}

 :git-clone {:command "git clone %url% %path%"
             :requires #{:url :path}}
 :git-checkout {:command "(cd %path% && git checkout %revision%)"
                :requires #{:revision}}
 :git {:command [:git-clone :git-checkout]
       :requires #{:url :path}}

 :link {:command "ln -sfn %to% %path%" :requires #{:path :to}}

 :apt-update {:command "apt update" :once? true}
 :package-install {:command [:apt-update "apt install -f %name%"]}
 :package-uninstall {:command "apt remove -f %name%"}
 :package-update {:command "apt upgrade -f %name%"}
 :package-exist? {:command "dpkg --status %name% | grep -i status | grep -i installed"}
 :package {:command :package-install}
 }
