{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}

        aero/aero {:mvn/version "1.1.6"}
        metosin/malli {:mvn/version "0.8.4"}
        org.babashka/sci {:mvn/version "0.3.32"}
        ;; pod
        nrepl/bencode {:mvn/version "1.1.0"}
        ;; GraalVM
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}

 :aliases
 {:dev {:extra-paths ["test" "test/resources"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.65.1029"}}}

  :test {:main-opts ["-m" "kaocha.runner"]}

  :generate-docs {:main-opts ["-m" "dad.doc"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  :build
  {:deps {com.github.liquidz/build.edn {:git/tag "0.5.116" :git/sha "f633fa3"}}
   :ns-default build-edn.main}}}
