{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}

        aero/aero {:mvn/version "1.1.6"}
        org.babashka/sci {:mvn/version "0.3.2"}
        metosin/malli {:mvn/version "0.8.4"}
        ;; pod
        nrepl/bencode {:mvn/version "1.1.0"}
        ;; GraalVM
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}

 :aliases
 {:dev {:extra-paths ["test" "test/resources"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.63.998"}}}

  :test {:main-opts ["-m" "kaocha.runner"]}

  :generate-docs {:main-opts ["-m" "dad.doc"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq "RELEASE"}
   :main-opts ["-M" "-m" "antq.core"]}

  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.0" :git/sha "e3e3532"}}
   :ns-default build}}}

