{
 :chmod {:pre-not "test $(stat --format '%a' %path%) = %mode%"
         :command "chmod -R %mode% %path%"
         :requires #{:mode :path}}

 :chown {:pre-not "test $(stat --format '%U' %path%) = %owner%"
         :command "chown -R %owner% %path%"
         :requires #{:owner :path}}

 :chgrp {:pre-not "test $(stat --format '%G' %path%) = %group%"
         :command "chgrp -R %group% %path%"
         :requires #{:group :path}}

 ;; ===== file =====
 :file-create {:pre-not "test -e %path%"
               :command ["touch %path%"]}
 :file-delete {:pre "test -e %path%"
               :command "rm -f %path%"}
 :file {:command [:file-create :chmod :chown :chgrp]}

 ;; ===== directory =====
 :directory-delete {:pre "test -d %path%"
                    :command "rm -rf %path%"}
 :directory-create {:pre-not "test -d %path%"
                    :command ["mkdir -p %path%"]}
 :directory {:command [:directory-create :chmod :chown :chgrp]}

 :execute {:command "(%command%)" :requires #{:command}}

 :_pre-compare-template-content {:command ":"
                             :requires #{:path :source}}

 ;; ===== template =====
 :template-create {:pre [:_pre-compare-template-content]
                   :command ":"
                   :requires #{:path :source}}

 :template {:command [:template-create :chmod :chown :chgrp]}

 :git-clone {:pre-not "test -d %path%"
             :command "git clone %url% %path%"
             :requires #{:url :path}}
 :git-checkout {:command "(cd %path% && git checkout %revision%)"
                :requires #{:revision}}
 :git {:command [:git-clone :git-checkout]
       :requires #{:url :path}}

 :curl {:pre-not "test -e %path%"
        :command "curl -sfLo %path% %url%"}

 :download {:command [:curl :chmod :chown :chgrp]}

 :link {:command "ln -sfn %to% %path%"
        :requires #{:path :to}}

 :apt-update {:command "apt update" :once? true}

 :package-exist? {:command #profile {:default "dpkg --status %name% | grep -i status | grep -i installed"
                                     :mac "brew list %name%"}}

 :package-install {:pre-not [:package-exist?]
                   :command #profile {:default [:apt-update
                                                "apt install -y %name%"]
                                      :mac "brew install -f %name%"}}

 :package-uninstall {:pre [:package-exist?]
                     :command #profile {:default "apt remove -y %name%"
                                        :mac "brew uninstall -f %name%"}}

 :package-update {:command #profile {:default "apt upgrade -y %name%"
                                     :mac "brew upgrade -f %name%"}}
 :package {:command :package-install}
 }
