{
 :non-blank-string? [:and string? [:not= ""]]

 :path-action [:action {:optional true} [:enum
                                         :create :delete :remove
                                         "create" "delete" "remove"]]
 :path-mode [:mode {:optional true} #ref[:non-blank-string?]]
 :path-owner [:owner {:optional true} #ref[:non-blank-string?]]
 :path-group [:group {:optional true} #ref[:non-blank-string?]]

 directory [:map
             [:path #ref[:non-blank-string?]]
             #ref [:path-action]
             #ref [:path-mode]
             #ref [:path-owner]
             #ref [:path-group]]

 execute [:map
           [:command [:or #ref[:non-blank-string?] [:vector #ref[:non-blank-string?]]]]
           [:cwd {:optional true} string?]
           [:pre {:optional true} string?]
           [:pre-not {:optional true} string?]]

 file [:map
        [:path #ref[:non-blank-string?]]
        #ref [:path-action]
        #ref [:path-mode]
        #ref [:path-owner]
        #ref [:path-group]]

 git [:map
       [:path #ref[:non-blank-string?]]
       [:url #ref[:non-blank-string?]]
       [:revision {:optional true} string?]
       #ref [:path-mode]
       #ref [:path-owner]
       #ref [:path-group]]

 download [:map
           [:path #ref[:non-blank-string?]]
           [:url #ref[:non-blank-string?]]
           #ref [:path-mode]
           #ref [:path-owner]
           #ref [:path-group]]

 link [:map
        [:path #ref[:non-blank-string?]]
        [:to #ref[:non-blank-string?]]]

 package [:map
           [:name [:or
                   #ref[:non-blank-string?]
                   keyword?
                   [:vector #ref[:non-blank-string?]]]]
           [:action {:optional true} [:enum
                                      :install :remove :uninstall
                                      "install" "remove" "uninstall"]]]

 template [:map
            [:path #ref[:non-blank-string?]]
            [:source #ref[:non-blank-string?]]
            [:variables {:optional true} map?]
            #ref [:path-mode]
            #ref [:path-owner]
            #ref [:path-group]]
 }
